/logs
/target/
*/target/**
/logs/
*/logs/**
/logs/auth-server/
/logs/discovery-server/
/lib


target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/auth-server/output.log
logs/auth-server/output.log
/logs/config-server
/logs/discovery-server
logs/gateway-server/output.log
/logs/gateway-server

logs/gateway-server/output.log
logs/discovery-server/output.log
